

<%- include("templates/encabezado") %>
    <h1>Editar de usuario: </h1>
    <div class="contenedor">
        <form action="/editarUsuario" method="post" id="formulario">
            <input type="hidden" autofocus value="<%= idusuarios %>" name="idusuarios" id="idusuario" type="text" placeholder="id">
            <label for="nombre">Nombre:</label><span class="ocultar errorNombre">Nombre no valido</span>
            <input autofocus value="<%= nombre %>" name="nombre" id="nombre" type="text" placeholder="Nombre">
            <i class="ocultar xmarkErrorNombre fa-regular fa-circle-xmark"></i>
            <i class="ocultar checkMarkNombre fa-regular fa-circle-check"></i>

            <label for="celular">Celular: </label><span class="ocultar errorCelular">Celular no valido</span>
            <input value="<%= celular %>" name="celular" id="celular" type="text" placeholder="Celular">
            <i class="ocultar xmarkErrorCelular fa-regular fa-circle-xmark"></i>
            <i class="ocultar checkMarkCelular fa-regular fa-circle-check"></i>

            <label for="correo">Correo: </label><span class="ocultar errorCorreo">Correo no valido</span>
            <input value="<%= correo %>" name="correo" id="correo" type="email" placeholder="Correo">
            <i class="ocultar xmarkErrorCorreo fa-regular fa-circle-xmark"></i>
            <i class="ocultar checkMarkCorreo fa-regular fa-circle-check"></i>
            <button type="submit">Editar datos</button>
        </form>
    </div>

    <%- include("templates/pie") %>