<%- include("templates/encabezado") %>
<div style="width: 100%; text-align:center;">
<h1>Tus datos son: </h1>
<br><br>
<h4>Nombre: <%= nombre %></h4>
<h4>Celular: <%= celular %></h4>
<h4>Correo: <%= correo %></h4>
</div>
<%- include("templates/pie") %>