<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://localhost:3000/css/estilosTabla.css">
    <title>Ejercicio 5</title>
</head>
<body>
    <br>
    <h1 style="text-align: center;">Usuarios</h1>
    <br>
    <div class="contenedor">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Celular</th>
                    <th>Correo</th>
                    <th>Editar / Borrar</th>
                </tr>
            </thead>
            <tbody>
                <%
                usuariosCorrectos.forEach((usuario)=>{
                %>
                <tr>
                    <td><%= usuario.idusuarios %></td>
                    <td><%= usuario.nombre %></td>
                    <td><%= usuario.celular %></td>
                    <td><%= usuario.correo %></td>
                    <td>
                        <a href="/editarUsuario/<%= usuario.idusuarios %>">Editar / </a>
                        <a href="/borrarUsuario/<%= usuario.idusuarios %>">Borrar</a>
                    </td>
                </tr>
                <%
                });
                %>
            </tbody>
        </table>
        
    </div>
    <br>
        <a href="http://localhost:3000/agregarusuario">Agregar Usuario</a>
</body>
</html>