<%- include("templates/encabezado") %>

<div style="width: 100%; text-align:center;">
    <h1>Producto Agregado</h1>
    <br><br>
    <p>Producto: <%= producto %></p>
    <p>Descripción: <%= descripcion %></p>
    <p>Precio: <%= precio %></p>
    <a href="/productos">Volver a la lista de productos</a>
</div>
<%- include("templates/pie") %>